<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div th:fragment="sidemenu">

    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-toggle="collapse" data-target="#menu1" >Master Data <span class="caret"></span></a>
                    <div id="menu1" class="collapse">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/home}">Establishment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" >Reporting</a>
                            </li>
                        </ul>
                    </div>

                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#menu2">Licenses<span class="caret"></span></a>
                    <div id="menu2" class="collapse">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" >Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" >Reporting</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Export</a>
                </li>
            </ul>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Nav item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nav item again</a>
                </li>

            </ul>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Nav item again</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">One more nav</a>
                </li>

            </ul>
    </nav>
    </div>
</div>
</body>
</html>