<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Custom styles for this template -->
	<link href="dashboard.css" rel="stylesheet">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">
	 <th:block th:include="fragments/header :: header"></th:block>
</div>


	<!--Body Layout code-->
	<div class="container-fluid">
		<div class="row">
		<th:block th:include="fragments/sidemenu :: sidemenu"></th:block>

			<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
				<a class="btn btn-primary btn-lg">Search</a>
				<a  class="btn btn-secondary btn-lg" href="#" th:href="@{/registrations}">Registration</a>

				<h2>Section title</h2>
				<form>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Establisment ID</th>
							<th>Name of Establishment </th>
							<th>Business Type</th>
							<th>Village</th>
							<th>Partner</th>
							<th>Company name</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1,001</td>
							<td>Lorem</td>
							<td>ipsum</td>
							<td>dolor</td>
							<td>sit</td>
						</tr>

						<tr>
							<td>1,012</td>
							<td>taciti</td>
							<td>sociosqu</td>
							<td>ad</td>
							<td>litora</td>
						</tr>
						<tr>
							<td>1,013</td>
							<td>torquent</td>
							<td>per</td>
							<td>conubia</td>
							<td>nostra</td>
						</tr>
						<tr>
							<td>1,014</td>
							<td>per</td>
							<td>inceptos</td>
							<td>himenaeos</td>
							<td>Curabitur</td>
						</tr>
						<tr>
							<td>1,015</td>
							<td>sodales</td>
							<td>ligula</td>
							<td>in</td>
							<td>libero</td>
						</tr>
						</tbody>
					</table>
				</div>
				</form>
			</main>
	</div>
	</div>




	<form th:action="@{/new-task}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
	</form>
	<button th:action="@{/logout}" method="get" class="btn btn-md btn-danger btn-block" name="registration" type="submit">
		<span class="glyphicon glyphicon-log-out"></span> Log out
	</button>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="../../../../assets/js/vendor/popper.min.js"></script>
	<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>